:root{
    --color-primario:#d9d9d9;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    /* height: 85rem;
    width: 39rem; */
}
.nav_bar{
    font-size: 1.5rem;
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.nav_bar-menu{
    width: 15%;
    color: #01c2b9;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' -25,
  'opsz' 48
}
.nav_bar-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.nav_bar-logo p:first-child{
    color: #0073f1;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav_bar-logo p:nth-child(2){
    color: #01c2b9;
    font-weight: bold;
    font-size: 2rem;
}
.nav_bar-login-icon{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_bar-login-icon a{
    text-decoration: none;
}
.seccion_banner{
    height: 30rem;
    width: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 1rem;
    border:1px solid black;
}
.seccion_banner h2{
    font-size: 3rem;
}
.seccion_banner p{
    font-size: 2rem;
}
.seccion_banner button{
    font-size: 2rem;
    border:none;
    width: 11rem;
    height: 2.8rem;
    background-color: var(--color-primario);
}
.seccion_intermedia{
    width: 39rem;
    height: 8.8rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.seccion_intermedia article{
    background-color: var(--color-primario);
    width: 5rem;
    height: 2.8rem; 
}
.seccion_final{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 41rem;
}
.seccion_final article{
    background-color: var(--color-primario);
    width: 35rem;
    height: 11rem;
}
