:root{
    --color-primario:#d9d9d9;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
.nav_bar{
    font-size: 1.5rem;
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.nav_bar-back a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-decoration: none;
}
.nav_bar-back{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* a{
    font-size: 2rem;
    display: inline;
} */
.nav_bar-menu{
    width: 15%;
    color: #0073f1;
}
.nav_bar-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.nav_bar-logo p:first-child{
    color: #0073f1;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav_bar-logo p:nth-child(2){
    color: #01c2b9;
    font-weight: bold;
    font-size: 2rem;
}
.nav_bar-login-icon{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor{
    width: 39.3rem;
    height: 79.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
}
.contenedor h1{
    width: 28.5rem;
    font-size: 4rem;
}
.usuario_contraseña{
    width: 36rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedor_usuario{
    width: 35rem;
    height: 11rem;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contenedor_usuario label{
    font-size: 2rem;
}
.contenedor_usuario input{
    width: 20rem;
    height: 5rem;
    border:none
}
.contenedor_contraseña{
    width: 35rem;
    height: 11rem;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contenedor_contraseña label{
    font-size: 2rem;
}
.contenedor_contraseña input{
    width: 20rem;
    height: 5rem;
    border:none
}
.btn_login{
    font-size: 2rem;
    background-color: var(--color-primario);
    width: 10.9rem;
    height: 2.8rem;
    border:none;
    cursor: pointer;
}
.crearAcc{
    font-size: 2rem;
}