*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
.nav_bar{
    font-size: 1.5rem;
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.nav_bar-back a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-decoration: none;
}
.nav_bar-back{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* a{
    font-size: 2rem;
    display: inline;
} */
.nav_bar-menu{
    width: 15%;
    color: #0073f1;
}
.nav_bar-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.nav_bar-logo p:first-child{
    color: #0073f1;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav_bar-logo p:nth-child(2){
    color: #01c2b9;
    font-weight: bold;
    font-size: 2rem;
}
.nav_bar-login-icon{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar-login-icon a{
    text-decoration: none;
}
.titulo{
    margin:10rem 0 13rem 0;
    text-align: center;
    font-size: 3rem;
    color: #01c2b9;
}
.contenedor{
    width: 39rem;
    height: 33rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.contenedor_metodo{
    width: 13rem;
    height: 13rem;
    font-size: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.contenedor_metodo:nth-child(1){
    background-color: #01c2b9;
}
.contenedor_metodo:nth-child(2){
    background-color: #0073f1;
}
.contenedor_metodo:nth-child(3){
    background-color: #0073f1;
}
.contenedor_metodo:nth-child(4){
    background-color: #01c2b9;
}
