*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
.nav_bar{
    font-size: 1.5rem;
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.nav_bar-back a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-decoration: none;
}
.nav_bar-back{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* a{
    font-size: 2rem;
    display: inline;
} */
.nav_bar-menu{
    width: 15%;
    color: #0073f1;
}
.nav_bar-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.nav_bar-logo p:first-child{
    color: #0073f1;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav_bar-logo p:nth-child(2){
    color: #01c2b9;
    font-weight: bold;
    font-size: 2rem;
}
.nav_bar-login-icon{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar-login-icon a{
    text-decoration: none;
}
.contenedor{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor h1{
    display: inline;
    color: #01c2b9;
    font-size: 3rem;
    margin:9rem 0 4rem 0;
}
.contenedor_sections{
    width: 37rem;
    height: 32rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border:1px solid #01c2b9;
}
.secciones{
    width: 12rem;
    height: 11rem;
    border:1.5px solid #0073f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6rem;
    flex-wrap: wrap;
}
.secciones:nth-child(1){
    margin-right: 3.5rem;
    font-size: 3rem;
    color: #01c2b9;
}
.secciones:nth-child(2){
    margin-left: 3.5rem;
    font-size: 3rem;
    color: #01c2b9;
}
.secciones:nth-child(3){
    margin-right: 3.5rem;
    font-size: 3rem;
    color: #01c2b9;
}
.secciones:nth-child(4){
    margin-left: 3.5rem;
    font-size: 3rem;
    color: #01c2b9;
}

.datos_adicionales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1.6rem;
    height: 37vh;
}
.datos_adicionales__secciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.datos_adicionales__secciones h2{
    display: inline;
    font-size: 3rem;
    color: #01c2b9;
}
.datos_adicionales__secciones input{
    width: 20rem;
    height: 3rem;
    text-align: right;
    border: 1px #0073f1 solid;
}
.datos_adicionales__secciones:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.6rem 0 1.5rem 0;
}
.btn_pagar{
    width: 45vw;
    font-size: 3.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 0.6rem;
    background-color: #0073f1;
    color: #fff;
    cursor: pointer;
}
.btn_pagar:hover{
    background-color: #01c2b9;
}
