*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
.nav_bar{
    font-size: 1.5rem;
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.nav_bar-back a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-decoration: none;
}
.nav_bar-back{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_bar-menu{
    width: 15%;
    color: #0073f1;
}
.nav_bar-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.nav_bar-logo p:first-child{
    color: #0073f1;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav_bar-logo p:nth-child(2){
    color: #01c2b9;
    font-weight: bold;
    font-size: 2rem;
}
.nav_bar-login-icon{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar-login-icon a{
    text-decoration: none;
}
.contenedor{
    height: 81.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo{
    font-size: 3rem;
    margin: 11rem 0 0 0;
    color: #01c2b9;
}
.texto{
    width: 80vw;
    height: 40vh;
}
.texto p{
    display: inline;
    font-size: 2.5rem;
    color: #01c2b9;
}
.texto strong{
    color: #0073f1;
}
.btn_inicio{
    width: 40vw;
    padding: 0.2rem 1rem;
    border:none;
    font-size: 3.5rem;
    background-color: transparent;
    border: 1px #0073f1 solid;
    color: #0073f1;
}